.main {
  padding: 20px;
}

.errorContainer {
  background-color: rgb(191, 0, 0);
  color: #fff;
  font-weight: 600;
  width: 800px;
}

.triangleType {
  font-weight: 600;
  display: unset;
}

.triangle {
  color: rgb(32,160,233);
}

.equilateral {
  color: rgb(74,137,32);
}

.isosceles {
  color: rgb(32,160,233);
}

.scalene {
  color: rgb(148,52,200);
}

.flexSideInput {
  display: flex;
  flex-direction: row;
  margin: 0;
  width: 600px;
  align-items: center;
}

.flexSideInput > form > div {
  width: 60%;
  margin: 0 10%;
}

.submitButton {
  /* margin-left: 10px; */
}

.submitButton > div {
  position: relative;
  /* right: 10px; */
  white-space: nowrap;
  width: 55px;
}


.canvas {
  width: 800px;
  height:400px;
  shape-rendering: geometricPrecision;
  max-width: 100vw;
}

.standardMargin {
  margin: 10px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}